/* primary color of text #757575 */
/* secondary color of text #212121 */
/* white #ffffff */
/* accent #2196F3 */
/* secondary bg-color #F5F4FA */



:root{
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --background-color-dark: #2F303A;
    --background-color-light: #F5F4FA;
    --icon-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    color: var(--primary-color);
    background: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    
}

ul, p{
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

header{
    border-bottom: 1px solid #fcfcfc;
}

.header{
    display: flex;
}

.conteiner{
    /* align-items: center; */
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

.nav{
    display: flex;
    align-items: center;
    
}

.nav-links{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 94px;
}

.nav-links .item{
    margin-right: 50px;
}

.nav-links .item:last-child{
    margin-right: 0;
}

.logo-web{
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.logo-studio{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.footer .logo-studio{
    color: var(--white-color);
}

.nav-link{
    position: relative;
    display: block;
    padding: 32px 0;

    color: var(--secondary-color);
    letter-spacing: 0.02em;
    font-weight: 500;

    transition: color 250ms var(--timing-function);
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}

.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--accent-color);

    opacity: 0;
    transform: translate(0, 1px);
    
    transition: opacity 250ms var(--timing-function), 
    transform 250ms var(--timing-function);
    
}

.nav-link:hover::after{
    opacity: 1;
    transform: translate(0, 1px);
}

.current-link{
    position: relative;
    color: var(--accent-color);
}

.current-link::after{
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    opacity: 1;
}

.nav-contact{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-contact .item + .item{
    margin-left: 50px;
}

.contact-link{
    display: flex;
    align-items: center;
    padding: 32px 0;

    color: var(--primary-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;

    fill: var(--primary-color);

    transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
    fill: var(--accent-color);
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
    padding-left: 0;
}

.hero,
.footer{
    background-color: var(--background-color-dark);
}

.hero{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        to bottom, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url(../images/hero-bg.svg);

}

h1{
    width: 696px;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;

    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.4;
}

.button-hero{
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    padding: 10px 32px;

    letter-spacing: 0.06em;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;

    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition: background-color 250ms var(--timing-function);
}

.button-hero:hover,
.button-hero:focus{
    background-color: #188CE8;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms var(--timing-function);
    z-index: 10;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;

}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 582px;
    padding: 38px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

    background-color: var(--white-color);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.7);
}

.btn-close{
    position: absolute;
    transform: translate(450px, -30px);

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid var(--icon-color);
    background-color: var(--white-color);
    cursor: pointer;
    color: #000;

    transition: color 250ms var(--timing-function);

}

.btn-close:hover,
.btn-close:focus{
    color: var(--accent-color);
}

.modal-title{
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.modal-input{
    width: 100%;
    height: 40px;
    padding-left: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms var(--timing-function);
}

.modal-input:hover,
.modal-input:focus{
    border: 1px solid var(--accent-color);
    cursor: pointer;
}

.modal-label{
    margin-bottom: 5px;
}

.modal-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border 250ms var(--timing-function);
}

.modal-textarea:hover,
.modal-textarea:focus{
    border: 1px solid var(--accent-color);
}

.modal-svg{
    position: absolute;
    transform: translate(10px, 67px);
    fill: var(--secondary-color);

    transition: fill 250ms var(--timing-function);
}

.svg-tel{
    transform: translate(10px, 133px);
}

.svg-email{
    transform: translate(10px, 200px);
}

.modal-input:hover + .modal-svg,
.modal-input:focus + .modal-svg{
    fill: var(--accent-color);
    cursor: pointer;
}

.checkbox-modal{
    display: flex;
}

.checkbox-modal input{
    visibility: hidden;
}

.checkbox{
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 2px;
}

.checkbox-modal input:checked + .checkbox{
    background-image: url(../images/symbol-defs.svg#icon-check);
}

.section h3, 
.section h2{
    color: var(--secondary-color);
    font-weight: 500;
}

.section h2{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

.section p{
    color: var(--primary-color);
}

.hidden-h2{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adv-section{
    padding-top: 94px;
}

.advantages{
    display: flex;
    flex-direction: row;
    letter-spacing: 0.03em;
}

.advantages .item{
    width: 270px;
    margin: 0;
    padding: 0;
}

.advantages .item:not(:last-child){
    margin-right: 30px;
}

.advantages h3{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
} 

.advantages p{
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.icon-advantages{
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--background-color-light);
}

.our-services-section{
    padding: 94px 0;
}

.our-services{
    display: flex;
    flex-direction: row;
    margin-top: 58px;
}

.our-services .item{
    margin: 0; /* for 'li' need to use 'margin:0' */
    width: 370px;
    position: relative;
}

.our-services .item:not(:last-child){
    margin-right: 30px;
}

.our-services-discrip{
    padding-top: 27px;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

/* .our-services .item:hover::after{
    opacity: 0;
    transform: translateY(-100%);
} */


.masters-section{
    background-color: var(--background-color-light);
    padding: 94px 0;
}

.masters{
    display: flex;
    margin-top: 50px;
    
    font-size: 16px;
    text-align: center;
}

.masters .item{
    background-color: #fff;
    width: 270px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.masters-item{
    padding: 30px;
}

.masters .item h3{
    margin-bottom: 10px;
}

.masters .item p{
    margin-bottom: 20px;
}

.masters .item:not(:last-child){
    margin-right: 30px;
}

.masters-contact{
    display: flex;
    justify-content: space-between;
}

.social-link{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
    background-color: var(--white-color);
    border-radius: 50%;

    transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus{
    border-radius: 50%;
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.clients-section{
    padding: 94px 0;
}

.clients-list{
    display: flex;
    margin-top: 50px;
}

.clients-list .item:not(:last-child){
    margin-right: 30px;
    
}

.client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    
    fill: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);
}

.client-link:hover,
.client-link:focus{
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}



/* Footer styles */

.footer > .conteiner{
    padding: 60px 0;
    display: flex;
    align-items: baseline;
}

.footer p{
    color: var(--white-color);
}

address{
    margin-top: 26px;
    width: 231px;

    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
}

address > a{
    display: block;
    margin-top: 10px;
    color: rgba(255, 255, 255, 60%);
    text-decoration: none;

    transition: color 250ms var(--timing-function);
}

address > a:hover,
address > a:focus{
    color: var(--accent-color);
}

.social-footer{
    margin-left: 70px;
}

.h2-footer{
    margin-bottom: 24px;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
}

.social-contact-footer{
    display: flex;
}

.social-link-footer{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color 250ms var(--timing-function);
}

.social-contact-footer .item:not(:last-child){
    margin-right: 10px;
}

.social-link-footer:hover,
.social-link-footer:focus{
    background-color: var(--accent-color);
}

 

/* start styles for portfolio.html */

.portfolio-section{
    padding: 94px 0;
}

.portfolio-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.button-filter {
    padding: 6px 22px;

    color: var(--secondary-color);
    background-color: var(--background-color-light);
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 0 white;

    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.portfolio-menu .item:not(:last-child){
    margin-right: 8px;
}

.current-button{
    color: var(--white-color);
    background-color: var(--accent-color);
}

.button-filter:hover,
.button-filter:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items{
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.portfolio-items img{
    margin: 0;
    padding: 0;
}

.portfolio-items > .item{
    /* flex-basis: calc((100% - 120px) / 3); */
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.portfolio-items > .item:nth-child(3n){
    margin-right: 0;
}

.portfolio-items > .item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.portfolio-link{
    display: block;
    box-shadow: 0 0 0 white;

    transition: box-shadow 250ms var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus{
    
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img{
    position: relative;
    overflow: hidden;
}

.portfolio-discrip{
    content: '';
    display: inline-block;
    padding: 62px 24px;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);

    color: var(--white-color);
    font-size: 18px;
    text-align: left;
    letter-spacing: 0.03em;
    line-height: 1.6;
    
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);

}

.portfolio-items .item:hover .portfolio-discrip{
    transform: translateY(0);
}

.portfolio-items h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: var(--secondary-color);
}

.portfolio-items p{
    color: var(--primary-color);
    font-size: 16px;
    line-height: 2;
}

.portfolio-title{
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 30px;
}

.portfolio-title h3{
    margin-bottom: 4px;
}

