/* primary color of text #757575 */
/* secondary color of text #212121 */
/* white #ffffff */
/* accent #2196F3 */
/* secondary bg-color #F5F4FA */



:root{
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --background-color-dark: #2F303A;
    --background-color-light: #F5F4FA;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    color: var(--primary-color);
    background: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    
}

ul{
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 1px solid #fcfcfc;
}

.header{
    display: flex;
}

.conteiner{
    align-items: center;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

.nav{
    margin-left: 95px;
}

.nav-links{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-links .item{
    margin-right: 50px;
}

.nav-links .item:last-child{
    margin-right: 0;
}

.logo-web{
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.logo-studio{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.footer .logo-studio{
    color: var(--white-color);
}

.nav-link{
    display: block;
    padding: 32px 0;

    color: var(--secondary-color);
    letter-spacing: 0.02em;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}

.current-link{
    color: var(--accent-color);
}

.nav-contact{
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-contact .item + .item{
    margin-left: 50px;
}

.contact-link{
    display: block;
    padding: 32px 0;

    color: var(--primary-color);
    letter-spacing: 0.02em;
    font-weight: 500;
}

.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
    padding-left: 0;
}

.hero,
.footer{
    background-color: var(--background-color-dark);
}

.hero{
    text-align: center;
    padding: 200px 0;
    margin-bottom: 94px;
}

h1{
    margin: 0 0 30px 0;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.4;
}

.button-hero{
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
    padding: 10px 32px;

    letter-spacing: 0.06em;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;

    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-hero:hover,
.button-hero:focus{
    background-color: #188CE8;
}


.section h3, 
.section h2{
    color: var(--secondary-color);
    font-weight: 500;
}

.section > h2{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

.section p{
    color: var(--primary-color);
}

.hidden-h2{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages{
    display: flex;
    flex-direction: row;
    margin-bottom: 94px;
    letter-spacing: 0.03em;
}

.advantages .item{
    width: 270px;
    margin: 0;
    padding: 0;
    
}

.advantages .item:not(:last-child){
    margin-right: 30px;
}

.advantages-img{
    background-color: var(--background-color-light);
    padding: 25px 0;
    text-align: center;
    margin-bottom: 30px;
}

.advantages h3{
    text-transform: uppercase;
    font-weight: 700;
} 

.advantages p{
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.our-services{
    display: flex;
    flex-direction: row;
    padding: 58px 0 94px 0;
}

.our-services .item{
    margin: 0; /* for 'li' need to use 'margin:0' */
    width: 370px;
}

.our-services .item:not(:last-child){
    margin-right: 30px;
}

.masters-section{
    background-color: var(--background-color-light);
    padding: 94px 0;
}

.masters{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    
    font-size: 16px;
    text-align: center;
}

.masters .item{
    background-color: #fff;
    width: 270px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.masters-item{
    padding: 30px 0;
}


/* Footer styles */

.footer{
    padding-top: 48px;
    padding-bottom: 60px;
}

.footer p{
    color: var(--white-color);
}

address{
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
}

address > a{
    color: rgba(255, 255, 255, 60%);
    text-decoration: none;
}

address > a:hover,
address > a:focus{
    color: var(--accent-color);
}
 

/* start styles for portfolio.html */

.examples{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.examples li{
    width: 370px;
}

.examples h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: var(--secondary-color);
}

.examples p{
    color: var(--primary-color);
    font-size: 16px;
    line-height: 2;
}

.button-filter{
    color: var(--secondary-color);
    background-color: var(--background-color-light);
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    cursor: pointer;
}

.current-button{
    color: var(--white-color);
    background-color: var(--accent-color);
}

.button-filter:hover,
.button-filter:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}


