%nav-position{
    display: flex;
    align-items: center;
}

.nav-contact{
    @extend %nav-position;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-contact .item + .item{
    margin-left: 50px;
}

.contact-link{
    @extend %nav-position;
    padding: 32px 0;

    color: $primary-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;

    fill: $primary-color;

    transition: color 250ms $timing-function,
    fill 250ms $timing-function;

    &:hover,
    &:focus{
        color: $accent-color;
        fill: $accent-color;
    }
}

