.nav-social{
    display: none;
}

@media screen and (max-width: 767px) {
    .nav-social{
        display: flex;

        
    }

    .nav-social__item{
        &:not(:last-child){
            padding-right: 8px;
            border-right: 1px solid $primary-color;
        }

        &:not(:first-child){
            padding-left: 8px;
        }
    }

    .nav-social__link{
        display: block;
        

        
        
        color: $accent-color;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.02em;
    }
}
