.portfolio-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.button-filter {
    padding: 6px 22px;

    color: $secondary-color;
    background-color: $background-color-light;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 0 white;

    transition: background-color 250ms $timing-function,
    color 250ms $timing-function,
    box-shadow 250ms $timing-function;
}

.portfolio-menu .item:not(:last-child){
    margin-right: 8px;
}

.current-button{
    color: $white-color;
    background-color: $accent-color;
}

.button-filter:hover,
.button-filter:focus{
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}