/* primary color of text #757575 */
/* secondary color of text #212121 */
/* white #ffffff */
/* accent #2196F3 */
/* secondary bg-color #F5F4FA */


$primary-color: #757575;
$secondary-color: #212121;
$accent-color: #2196F3;
$white-color: #ffffff;
$black-color: #000000;
$background-color-dark: #2F303A;
$background-color-light: #F5F4FA;
$icon-color: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
