.clients{
    padding: 60px 0;
    margin: 0 auto;

    & > .conteiner{
        margin: 0 auto;
    }

@media screen and (min-width: 1200px){
    padding: 94px 0;
}
}

.clients__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    & .item{
        flex-basis: calc((100% / 2) - 15px);
        margin-bottom: 30px;
    }

    & .item:nth-child(2n+1){
        margin-right: 30px;
    }

    & .item:nth-child(n+5){
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {

        & .item{
            flex-basis: 226px;
        }

        & .item:nth-child(2n+1){
            margin-right: 0;
        }
        
        & .item:not(:nth-child(3n)){
            margin-right: 30px;
        }

        & .item:nth-child(n+4){
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;

        & .item{
            flex-basis: 170px;
        }

        & .item:not(:last-child){
            margin-right: 30px;
        }
    }
}



.client__link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    
    fill: $icon-color;
    border: 1px solid $icon-color;
    border-radius: 4px;

    transition: fill 250ms $timing-function,
    border 250ms $timing-function;

    &:hover,
    &:focus{
        fill: $accent-color;
        border: 1px solid $accent-color;
    }
}


